.App {
  background-color: #F5F5F5;
}

#nav {
	background-color: #6EC7E6;
}
#navName{
	color: #FFFFFF;
	font-family:'Open Sans';
	font-weight: bold;
	font-size: 36px;
}

#navbarBasicExample{
	color: #FFFFFF;
	font-family:'Open Sans';
}

#navItem{
	color: #FFFFFF;
	font-size: 30px;
}

#tagdiv{
	text-align: left;
	max-width: 50%;
	margin-top: 20px;
}

#tagline {
	text-align: center;
	color: #9EDB99;
	font-family: "Pacifico";
	font-size: 35px;
}
#homeImg{
	float: right;
	max-width: 50%;
	height: auto;
}

#fname{
	margin-bottom: 0%;
	padding-bottom: 0%;
}

.field{
	padding: 2%;
}

#sendbttn{
	background-color: #9EDB99;
	
}

.formsec{
	background-color: #FFB6B9;
	text-align: left;
	max-width: 55%;
	font-family: Roboto;
	margin-bottom: 5%;
	margin-top: 5%;
}

#subtitle {
	color: #9EDB99;
	font-family: 'Open Sans';
	padding-top: 2%;
}

.abtusbody {
	color: #FFB6B9;
	font-family: 'Roboto';
}

#lastsect{
	padding-bottom: 3%;
}
